body {
  background-color: rgb(7, 18, 66) !important;
}

.infoStyle {
  position   : absolute !important;
  bottom     : 63%;
  color      : white;
  left       : 44%;
  font-size  : 40px;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
}

.titleStyle {
  color      : white;
  font-size  : 40px;
  font-family: 'Times New Roman', Times, serif;
  right      : 10%;
}